################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodingSoldier/CodingSoldier/Properties/PublishProfiles/Azure - FTP.pubxml
